<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/configuraciones"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <div class="profile-picture">
      <img src="../../../assets/img/mono.png" alt="Foto de perfil">
    </div>
    <h2 >{{ user.nombre.toUpperCase() }}</h2>
    <div>
      <ion-icon name="star" class="user-rating"></ion-icon>
      <span class="edad"> 5   |</span> <!-- Calificación -->
      <span class="edad">25</span> <!-- Edad -->
      <div><span class="sub">Clasificion</span>
      <span class="sub">Años</span></div>
    </div>
  </div>
  <ion-card>      
    <div class="custom-box1">
      <ion-item>
         <ion-icon name="language-outline" slot="start"></ion-icon>
        <ion-select multiple="true" [(ngModel)]="idiomasSeleccionados" value="Español">
          <ion-select-option *ngFor="let idioma of idiomasDisponibles" [value]="idioma.id">
            {{ idioma.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-select [(ngModel)]="comunaSeleccionada" >
          <ion-select-option *ngFor="let comuna of comunasMetropolitana" [value]="comuna">
            {{ comuna }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre Mí</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea [(ngModel)]="sobreMi" placeholder="{{ user.sobreMi }}"></ion-textarea>
    </ion-card-content>
  </ion-card>
  <div class="button-container">
    <ion-button shape="round" expand="full" class="custom-button" (click)="updateSobreMi()">Guardar Cambios</ion-button>
  </div>

  

</ion-content>
<div class="ionGrid">
  <hr style="border: 1px solid white; margin: 10px 0;">
  <ion-row>
    <ion-col (click)="inicio()" class="ionCol" size="4">
      <ion-icon class="iconStyle" name="home"></ion-icon>
      <p>Inicio</p>
    </ion-col>
    <ion-col class="ionCol" size="4">
      <ion-router-link routerLink="/home">
      <!-- Reemplaza el ícono con tu logotipo -->
        <img  src="../../../assets/img/Logotipo-N.png" alt="Logo"  class="imagen">
      </ion-router-link>
    </ion-col>
    <ion-col (click)="configuraciones()" size="4">
      <ion-icon class="iconStyle" name="settings"></ion-icon>
      <p>Configuración</p>
    </ion-col>
  </ion-row>
</div>