<!-- interfaz-chofer.page.html -->

<ion-content>
  <div id="map"></div>
  <ion-button class="boton-switch" fill="clear" (click)="InterfazChofer()">
    <ion-icon class="icono" style="color: white;" name="person-circle-outline"></ion-icon>
  </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="4" id="modal-chofer">
        <ion-icon name="home"></ion-icon>
        <p>Servicios</p>
      </ion-col>
      <ion-col size="4">
        <ion-router-link routerLink="">
          <!-- Reemplaza el ícono con tu logotipo -->
          <img src="../../../assets/img/Logotipo-N.png" alt="Logo" class="imagen">
        </ion-router-link>
      </ion-col>
      <ion-col (click)="configuraciones()" size="4">
        <ion-icon name="settings"></ion-icon>
        <p>Configuración</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal trigger="modal-chofer" [initialBreakpoint]="1" [breakpoints]="[0, 1]" >
  <ng-template>
    <ion-content>
      <div class="drag-handle"></div>
      <div class="titulo-modal">
        <span class="texto-pequeno">Hola usuario,</span><br>
        ¿Qué quieres hacer?
      </div>
      <div class="bloques">
        <div *ngFor="let viaje of viajesDisponibles" class="bloque" (click)="ModificarDatos(viaje)">
          <img class="imagen-redonda" src="../../assets/img/mono.png" alt="Foto de usuario" style="border: 2px solid white;">
          {{ viaje.nombreUsuario }}   
          <div class="nombre-ubicacion">
            {{ viaje.nombreUbicacion.length > 18 ? viaje.nombreUbicacion.slice(0, 18) + '...' : viaje.nombreUbicacion }}
          </div>
        </div>
      </div>
    <div class="primary-content">
      <div class="resp-textbox">
        <ion-icon style="padding: 5px;" name="search-outline"></ion-icon>
        <input type="text" placeholder="Introduce tu ruta" />
      </div>
    </div>
    <div class="primary-content">
    <div class="center-left">
      <ion-icon name="briefcase"></ion-icon>
      <p style="padding: 10px;">Añadir trabajo</p>
    </div>

    <div class="center-left">
      <ion-icon name="time-outline"></ion-icon>
      <p style="padding: 10px;">Av. La florida 748471</p>
    </div>

    <div class="center-left">
      <ion-icon name="time-outline"></ion-icon>
      <p style="padding: 10px;">Av. La florida 748471</p>
    </div>
  </div>
  </ion-content>
</ng-template>
</ion-modal>