ion-back-button{
    color: white;
  }

ion-button {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    --border-radius: 200px;
    --background: white;
    font-style: bold;
    color: black;
  }