
<ion-content>
  <div class="image-container">
    <a href="../login/login.page.html">
        <img src="../../../assets/img/Logotipo-N.png" alt="Logotipo-N">
     </a>
  </div>
  <form #signupForm="ngForm" (ngSubmit)="submitForm(signupForm)">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" name="email" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" name="nombre" ngModel required></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="contrasena" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Repetir contraseña</ion-label>
      <ion-input type="password" name="confirmPassword" ngModel required></ion-input>
    </ion-item>



    <!-- Mensaje de error para la verificación de contraseñas -->
    <ion-text color="danger" *ngIf="signupForm.hasError('passwordMismatch', 'confirmPassword')">
      Las contraseñas no coinciden.
    </ion-text>


    <ion-button (click)="submitForm(signupForm)">Registrarse</ion-button>
  </form>
  <div class="links-container">
    <a (click)="tengoCuenta()"
      style="font-weight: bold;">Ya tengo una cuenta
    </a>
  </div>
  <div class="powered-by">
    Powered by ReikoM
  </div>
</ion-content>

<ion-modal trigger="modalauto" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <ion-card>
      <ion-card-header>
        Agrega un auto
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <!-- Formulario de información del auto -->
          <ion-item>
            <ion-label position="stacked">Marca</ion-label>
            <ion-input class="input-field" placeholder="Ingrese la marca"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Modelo</ion-label>
            <ion-input class="input-field" placeholder="Ingrese el modelo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Color</ion-label>
            <ion-input class="input-field" placeholder="Ingrese el color"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Patente</ion-label>
            <ion-input class="input-field" placeholder="Ingrese el color"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>

